@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;800&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700&display=swap');


body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: aliceblue;
}

.google-logo {
    width: 260px;
    height: 120px;
    object-fit: contain;
    padding-bottom: 0;
}

.search-bar-container {
    position: relative;
    display: flex;
    align-items: center;
    background-color: aliceblue;
    padding: 5px;
    width: 300px;
    height: 50px;
    border-radius: 50px;
    transition: all 1.5s;
    box-shadow: 6px 6px 10px  rgba(0, 0, 0, 0.2),
                -6px -6px 10px rgba(255, 255, 255, 0.7);
}


.magnifier {
    width: 25px;
    cursor: pointer;
    position: absolute;
    left: 20px;
}

.mic-icon {
    width: 25px;
    position: absolute;
    cursor: pointer;
    right: 10px;
    transition: all 0.4s;
    transition-delay: 1s;
}

.input {
    background-color: transparent;
    border: none;
    margin: 10px 50px;
    outline: none;
    width: 100%;
    color: rgb(100, 100, 100);
    transition: all 1s;
    transition-delay: 0.5s;
    
}

.active.search-bar-container{
    width: 50px;
}

.active .input {
    width: 0;
}

.active .mic-icon{
    width: 0;
}


.source-code-btn {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin-top: 40px;
    text-decoration: none;
    background-color: aliceblue;
    padding: 10px 20px;
    color: rgb(6, 118, 187);
    transition: all 0.4s;
    border-radius: 50px;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.2),
                -6px -6px 10px rgba(255, 255, 255, 0.7);
}


.red {
    color: rgb(243, 76, 76);
}

.yellow {
    color: rgb(233, 205, 27);
}

.green {
    color: rgb(18, 149, 6);
}

.source-code-btn:hover {
    transform: scale(1.02);
}

.btn.button {
    color: rgb(171, 54, 54);
}